node_modules
.DS_Store
.idea
.vscode
.npm
.eslintcache
Dockerfile
.git
.gitignore
.env

# Compilation output
/build-test/
/dist

# Coverage
.nyc_output
coverage.json
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# node-waf configuration
.lock-wscript
