node_modules
.DS_Store
.idea
.eslintcache

# Hardhat files
artifacts
coverage.json
coverage

# Compilation output
/build-test/
/dist

.nyc_output

# Below is Github's node gitignore template,
# ignoring the node_modules part, as it'd ignore every node_modules, and we have some for testing

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# node-waf configuration
.lock-wscript

# Optional npm cache directory
.npm

!src/**/artifacts
